@model Greentwip.Models.UrlGeneratorViewModel

@{
    ViewBag.Title = "Url Generator";
}

<h2>@ViewBag.Title.</h2>

<div id="result">
    <p>Generated Url: </p><p></p>
</div>

@using (Ajax.BeginForm("_GenerateUrl", "Marketing", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "result" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Generate URL Form</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <p class="text-info">
        Create dynamic cards for Twitter and Facebook.
    </p>
    <div class="form-group">
        <div class="col-md-10">

            <div class="col-sm-4">
                @Html.LabelFor(m => m.Title)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">

            <div class="col-sm-4">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">

            <div class="col-sm-4">
                @Html.LabelFor(m => m.Link)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">

            <div class="col-sm-4">
                @Html.LabelFor(m => m.Image)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default" value="Generate" />
        </div>
    </div>
}